<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-6 text-center">Tasks List</h1>
  <div class="flex md:flex-row gap-3 sm:flex-col mb-6">
    <div class="flex-1">
      <label>Sort by:</label>
      <select [ngModel]="sortBy$ | async" (change)="onSortChange($event)">
        <option value="">None</option>
        <option value="dueDate">Due Date</option>
        <option value="priority">Priority</option>
      </select>
    </div>
    <div class="flex-1">
      <label>Filter by Category:</label>
      <select
        [ngModel]="filterByCategory$ | async"
        (change)="onCategoryChange($event)"
      >
        <option value="">All</option>
        @for (category of categories$ | async ; track category.id) {
        <option [value]="category.id">{{ category.name }}</option>
        }
      </select>
    </div>
    <div class="flex-1">
      <button
        routerLink="/tasks/create"
        class="bg-green-600 text-white px-4 py-2 rounded shadow hover:bg-green-700 transition font-semibold"
      >
        Create Task
      </button>
    </div>
  </div>

  <div class="flex flex-col gap-6">
    @for (task of tasks$ | async; track task.id) {
    <div class="bg-white rounded-lg shadow p-4 flex flex-col justify-between">
      <div>
        <h2 class="text-lg font-semibold mb-2">{{ task.name }}</h2>
        <p class="text-gray-600 mb-4">Due date: {{ task.dueDate | date }}</p>
        <p>Category: {{ task.category.name }}</p>
        <div>
          <label for="completed-{{ task.id }}">Task Competed: </label>
          <input
            type="checkbox"
            name="task-completed"
            id="completed-{{ task.id }}"
            [checked]="task.completed"
            (change)="toggleComplete(task)"
          />
        </div>

        <p>
          Priority:
          <span
            class="text-amber-100 inline-block px-2 py-1 my-1 rounded"
            [ngClass]="{
              'bg-red-600': task.priority === 1,
              'bg-orange-500': task.priority === 2,
              'bg-green-600': task.priority === 3
            }"
            >{{ task.priority | formatPriority }}</span
          >
        </p>
      </div>
      <button
        routerLink="/tasks/{{ task.id }}"
        class="mt-auto bg-blue-600 text-white px-4 py-2 rounded w-auto self-start hover:bg-blue-700 transition"
      >
        Preview
      </button>
    </div>
    }
  </div>
</div>
