<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-6 text-center">{{ title }}</h1>
  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700"
        >Task Name:</label
      >
      <input
        type="text"
        id="name"
        formControlName="name"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      @if(taskForm.get('name')?.touched &&
      taskForm.get('name')?.hasError('required')) {
      <p class="text-red-500 text-sm mt-1">Task name is required</p>
      } @if(taskForm.get('name')?.touched &&
      taskForm.get('name')?.hasError('minlength')) {
      <p class="text-red-500 text-sm mt-1">
        Minimum length for task name should be at least 5 characters
      </p>
      }
    </div>
    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-700"
        >Description:</label
      >
      <textarea
        id="description"
        formControlName="description"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      ></textarea>
      @if(taskForm.get('description')?.touched && taskForm.get('description')?.hasError('required')) {
      <p class="text-red-500 text-sm mt-1">Description is required</p>
      } @if(taskForm.get('description')?.touched && taskForm.get('description')?.hasError('minlength')) {
      <p class="text-red-500 text-sm mt-1">
        Task description should contain at least 15 characters
      </p>
      }
    </div>
    <div class="mb-4">
      <label for="category" class="block text-sm font-medium text-gray-700"
        >Category:</label
      >
      <select
        id="category"
        formControlName="category"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      >
        @for(category of categories$ | async ; track category.id) {
        <option [value]="category.id">
          {{ category.name }}
        </option>
        }
      </select>
      @if(taskForm.get('category')?.hasError('required')) {
      <p class="text-red-500 text-sm mt-1">Category is required</p>
      }
    </div>
    <div class="mb-4">
      <label for="dueDate" class="block text-sm font-medium text-gray-700"
        >Due Date:</label
      >
      <input
        type="date"
        id="dueDate"
        formControlName="dueDate"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
      @if(taskForm.get('dueDate')?.hasError('required')) {
      <p class="text-red-500 text-sm mt-1">Due date is required</p>
      }
    </div>
    <div class="mb-4">
      <label for="priority" class="block text-sm font-medium text-gray-700"
        >Priority:</label
      >
      <select
        id="priority"
        formControlName="priority"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      >
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
      @if(taskForm.get('priority')?.hasError('required')) {
      <p class="text-red-500 text-sm mt-1">Priority is required</p>
      }
    </div>
    <button
      type="submit"
      class="bg-blue-600 text-white px-4 py-2 rounded shadow hover:bg-blue-700 transition font-semibold"
    >
      Save Task
    </button>
  </form>
</div>
